swagger: "2.0"
info:
  description: |
    This is a Shoppers Catalogue server.

    [Learn about Swagger](http://swagger.io) or join the IRC channel `#swagger` on irc.freenode.net.

    For this sample, you can use the api key `special-key` to test the authorization filters
  version: "1.0.0"
  title: Shoppers OpenAPI
  termsOfService: http://helloreverb.com/terms/
  contact:
    name: harjeetss@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: shoppers.io
basePath: /v2
schemes:
  - http
paths:
  /v1/products:
    post:
      tags:
        - product
      summary: Add a new product to the store
      description: ""
      operationId: addProduct
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - name: $body
          in: body
          schema:
            required:
              - product
            properties:
              product:
                $ref: '#/definitions/product'
              saveOptions:
                type: boolean
            type: object
      responses:
        '200':
          description: 200 Success.
          schema:
            $ref: '#/definitions/product'
        '400':
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        '401':
          description: 401 Unauthorized
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      security:
        - shoppers_auth:
          - write_products
          - read_products
  /v1/products/findByCategory:
    get:
      tags:
        - product
      summary: Finds Products by category
      description: Use category1 for testing.
      operationId: findProductsByCategories
      produces:
        - application/json
        - application/xml
      parameters:
        - in: query
          name: category
          description: Category to filter by
          required: false
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/catalog-data-product-search-results-interface"
        "400":
          description: Invalid category value
      security:
        - shoppers_auth:
          - write_products
          - read_products
  /v1/products/{productId}:
    get:
      tags:
        - product
      summary: Find product by ID
      description: Returns a product when ID < 10.  ID > 10 or nonintegers will simulate API error conditions
      operationId: getProductById
      produces:
        - application/json
        - application/xml
      parameters:
        - in: path
          name: productId
          description: ID of product that needs to be fetched
          required: true
          type: integer
          format: int64
      responses:
        "404":
          description: Product not found
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/product"
        "400":
          description: Invalid ID supplied
      security:
        - api_key: []
        - shoppers_auth:
          - write_products
          - read_products
    post:
      tags:
        - product
      summary: Updates a product in the store with form data
      description: ""
      operationId: updateProductWithForm
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - application/xml
      parameters:
        - in: path
          name: productId
          description: ID of product that needs to be updated
          required: true
          type: string
        - in: formData
          name: name
          description: Updated name of the product
          required: true
          type: string
        - in: formData
          name: status
          description: Updated status of the product
          required: true
          type: string
      responses:
        "405":
          description: Invalid input
      security:
        - shoppers_auth:
          - write_products
          - read_products
    delete:
      tags:
        - product
      summary: Deletes a product
      description: ""
      operationId: deleteProduct
      produces:
        - application/json
        - application/xml
      parameters:
        - in: header
          name: api_key
          description: ""
          required: true
          type: string
        - in: path
          name: productId
          description: Product id to delete
          required: true
          type: integer
          format: int64
      responses:
        "400":
          description: Invalid product value
      security:
        - shoppers_auth:
          - write_products
          - read_products
  '/v1/products/{sku}/websites':
    post:
      tags:
        - catalogProductWebsiteLinkRepositoryV1
      description: Assign a product to the website
      operationId: catalogProductWebsiteLinkRepositoryV1SavePost
      parameters:
        - name: sku
          in: path
          type: string
          required: true
        - name: $body
          in: body
          schema:
            required:
              - productWebsiteLink
            properties:
              productWebsiteLink:
                $ref: '#/definitions/catalog-product-website-link-interface'
            type: object
      responses:
        '200':
          description: 200 Success.
          schema:
            type: boolean
            description: will returned True if website successfully assigned to product
        '400':
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        '401':
          description: 401 Unauthorized
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    put:
      tags:
        - catalogProductWebsiteLinkRepositoryV1
      description: Assign a product to the website
      operationId: catalogProductWebsiteLinkRepositoryV1SavePut
      parameters:
        - name: sku
          in: path
          type: string
          required: true
        - name: $body
          in: body
          schema:
            required:
              - productWebsiteLink
            properties:
              productWebsiteLink:
                $ref: '#/definitions/catalog-product-website-link-interface'
            type: object
      responses:
        '200':
          description: 200 Success.
          schema:
            type: boolean
            description: will returned True if website successfully assigned to product
        '400':
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        '401':
          description: 401 Unauthorized
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  '/v1/products/{sku}/websites/{websiteId}':
    delete:
      tags:
        - catalogProductWebsiteLinkRepositoryV1
      description: Remove the website assignment from the product by product sku
      operationId: catalogProductWebsiteLinkRepositoryV1DeleteByIdDelete
      parameters:
        - name: sku
          in: path
          type: string
          required: true
        - name: websiteId
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: 200 Success.
          schema:
            type: boolean
            description: will returned True if website successfully unassigned from product
        '400':
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        '401':
          description: 401 Unauthorized
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'          
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
  shoppers_auth:
    type: oauth2
    authorizationUrl: http://shoppers.io/api/oauth/dialog
    flow: implicit
    scopes:
      write_products: modify products in your account
      read_products: read your products
definitions:
  error-response:
    type: object
    properties:
      message:
        type: string
        description: Error message
      errors:
        $ref: '#/definitions/error-errors'
      code:
        type: integer
        description: Error code
      parameters:
        $ref: '#/definitions/error-parameters'
      trace:
        type: string
        description: Stack trace
    required:
      - message
  error-errors:
    type: array
    description: Errors list
    items:
      $ref: '#/definitions/error-errors-item'
  error-errors-item:
    type: object
    description: Error details
    properties:
      message:
        type: string
        description: Error message
      parameters:
        $ref: '#/definitions/error-parameters'
  error-parameters:
    type: array
    description: Error parameters list
    items:
      $ref: '#/definitions/error-parameters-item'
  error-parameters-item:
    type: object
    description: Error parameters item
    properties:
      resources:
        type: string
        description: ACL resource
      fieldName:
        type: string
        description: Missing or invalid field name
      fieldValue:
        type: string
        description: Incorrect field value
  framework-search-criteria-interface:
    type: object
    description: Search criteria interface.
    properties:
      filter_groups:
        type: array
        description: A list of filter groups.
        items:
          $ref: '#/definitions/framework-search-filter-group'
      sort_orders:
        type: array
        description: Sort order.
        items:
          $ref: '#/definitions/framework-sort-order'
      page_size:
        type: integer
        description: Page size.
      current_page:
        type: integer
        description: Current page.
    required:
      - filter_groups
  framework-search-filter-group:
    type: object
    description: Groups two or more filters together using a logical OR
    properties:
      filters:
        type: array
        description: A list of filters in this group
        items:
          $ref: '#/definitions/framework-filter'
  framework-filter:
    type: object
    description: Filter which can be used by any methods from service layer.
    properties:
      field:
        type: string
        description: Field
      value:
        type: string
        description: Value
      condition_type:
        type: string
        description: Condition type
    required:
      - field
      - value
  framework-sort-order:
    type: object
    description: Data object for sort order.
    properties:
      field:
        type: string
        description: Sorting field.
      direction:
        type: string
        description: Sorting direction.
    required:
      - field
      - direction
  framework-attribute-interface:
    type: object
    description: Interface for custom attribute value.
    properties:
      attribute_code:
        type: string
        description: Attribute code
      value:
        type: string
        description: Attribute value
    required:
      - attribute_code
      - value
  product:
    type: object
    description: ''
    properties:
      id:
        type: integer
        description: Id
      sku:
        type: string
        description: Sku
      name:
        type: string
        description: Name
      attribute_set_id:
        type: integer
        description: Attribute set id
      price:
        type: number
        description: Price
      status:
        type: integer
        description: Status
      visibility:
        type: integer
        description: Visibility
      type_id:
        type: string
        description: Type id
      created_at:
        type: string
        description: Created date
      updated_at:
        type: string
        description: Updated date
      weight:
        type: number
        description: Weight
      extension_attributes:
        $ref: '#/definitions/product-extension-interface'
      product_links:
        type: array
        description: Product links info
        items:
          $ref: '#/definitions/catalog-data-product-link-interface'
      options:
        type: array
        description: List of product options
        items:
          $ref: '#/definitions/catalog-data-product-custom-option-interface'
      media_gallery_entries:
        type: array
        description: Media gallery entries
        items:
          $ref: >-
            #/definitions/catalog-data-product-attribute-media-gallery-entry-interface
      tier_prices:
        type: array
        description: List of product tier prices
        items:
          $ref: '#/definitions/catalog-data-product-tier-price-interface'
      custom_attributes:
        type: array
        description: Custom attributes values.
        items:
          $ref: '#/definitions/framework-attribute-interface'
    required:
      - sku
  Category:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string      
  product-extension-interface:
    type: object
    description: extending
    properties:
      stock_item:
        $ref: '#/definitions/catalog-inventory-data-stock-item-interface'
      bundle_product_options:
        type: array
        items:
          $ref: '#/definitions/bundle-data-option-interface'
      downloadable_product_links:
        type: array
        items:
          $ref: '#/definitions/downloadable-data-link-interface'
      downloadable_product_samples:
        type: array
        items:
          $ref: '#/definitions/downloadable-data-sample-interface'
      configurable_product_options:
        type: array
        items:
          $ref: '#/definitions/configurable-product-data-option-interface'
      configurable_product_links:
        type: array
        items:
          type: integer
  catalog-inventory-data-stock-item-interface:
    type: object
    description: Interface StockItem
    properties:
      item_id:
        type: integer
      product_id:
        type: integer
      stock_id:
        type: integer
        description: Stock identifier
      qty:
        type: number
      is_in_stock:
        type: boolean
        description: Stock Availability
      is_qty_decimal:
        type: boolean
      show_default_notification_message:
        type: boolean
      use_config_min_qty:
        type: boolean
      min_qty:
        type: number
        description: Minimal quantity available for item status in stock
      use_config_min_sale_qty:
        type: integer
      min_sale_qty:
        type: number
        description: >-
          Minimum Qty Allowed in Shopping Cart or NULL when there is no
          limitation
      use_config_max_sale_qty:
        type: boolean
      max_sale_qty:
        type: number
        description: Maximum Qty Allowed in Shopping Cart data wrapper
      use_config_backorders:
        type: boolean
      backorders:
        type: integer
        description: Backorders status
      use_config_notify_stock_qty:
        type: boolean
      notify_stock_qty:
        type: number
        description: Notify for Quantity Below data wrapper
      use_config_qty_increments:
        type: boolean
      qty_increments:
        type: number
        description: Quantity Increments data wrapper
      use_config_enable_qty_inc:
        type: boolean
      enable_qty_increments:
        type: boolean
        description: Whether Quantity Increments is enabled
      use_config_manage_stock:
        type: boolean
      manage_stock:
        type: boolean
        description: Can Manage Stock
      low_stock_date:
        type: string
      is_decimal_divided:
        type: boolean
      stock_status_changed_auto:
        type: integer
    required:
      - qty
      - is_in_stock
      - is_qty_decimal
      - show_default_notification_message
      - use_config_min_qty
      - min_qty
      - use_config_min_sale_qty
      - min_sale_qty
      - use_config_max_sale_qty
      - max_sale_qty
      - use_config_backorders
      - backorders
      - use_config_notify_stock_qty
      - notify_stock_qty
      - use_config_qty_increments
      - qty_increments
      - use_config_enable_qty_inc
      - enable_qty_increments
      - use_config_manage_stock
      - manage_stock
      - low_stock_date
      - is_decimal_divided
      - stock_status_changed_auto
  bundle-data-option-interface:
    type: object
    description: Interface OptionInterface
    properties:
      option_id:
        type: integer
        description: Option id
      title:
        type: string
        description: Option title
      required:
        type: boolean
        description: Is required option
      type:
        type: string
        description: Input type
      position:
        type: integer
        description: Option position
      sku:
        type: string
        description: Product sku
      product_links:
        type: array
        description: Product links
        items:
          $ref: '#/definitions/bundle-data-link-interface'
  bundle-data-link-interface:
    type: object
    description: Interface LinkInterface
    properties:
      id:
        type: string
        description: The identifier
      sku:
        type: string
        description: Linked product sku
      option_id:
        type: integer
        description: Option id
      qty:
        type: number
        description: Qty
      position:
        type: integer
        description: Position
      is_default:
        type: boolean
        description: Is default
      price:
        type: number
        description: Price
      price_type:
        type: integer
        description: Price type
      can_change_quantity:
        type: integer
        description: Whether quantity could be changed
    required:
      - is_default
      - price
      - price_type
  downloadable-data-link-interface:
    type: object
    description: ''
    properties:
      id:
        type: integer
        description: Sample(or link) id
      title:
        type: string
      sort_order:
        type: integer
      is_shareable:
        type: integer
        description: Shareable status
      price:
        type: number
        description: Price
      number_of_downloads:
        type: integer
        description: Of downloads per user
      link_type:
        type: string
      link_file:
        type: string
        description: relative file path
      link_file_content:
        $ref: '#/definitions/downloadable-data-file-content-interface'
      link_url:
        type: string
        description: Link url or null when type is 'file'
      sample_type:
        type: string
      sample_file:
        type: string
        description: relative file path
      sample_file_content:
        $ref: '#/definitions/downloadable-data-file-content-interface'
      sample_url:
        type: string
        description: file URL
    required:
      - sort_order
      - is_shareable
      - price
      - link_type
      - sample_type
  downloadable-data-file-content-interface:
    type: object
    description: ''
    properties:
      file_data:
        type: string
        description: Data (base64 encoded content)
      name:
        type: string
        description: File name
    required:
      - file_data
      - name
  downloadable-data-sample-interface:
    type: object
    description: ''
    properties:
      id:
        type: integer
        description: Sample(or link) id
      title:
        type: string
        description: Title
      sort_order:
        type: integer
        description: Order index for sample
      sample_type:
        type: string
      sample_file:
        type: string
        description: relative file path
      sample_file_content:
        $ref: '#/definitions/downloadable-data-file-content-interface'
      sample_url:
        type: string
        description: file URL
    required:
      - title
      - sort_order
      - sample_type
  configurable-product-data-option-interface:
    type: object
    description: Interface OptionInterface
    properties:
      id:
        type: integer
      attribute_id:
        type: string
      label:
        type: string
      position:
        type: integer
      is_use_default:
        type: boolean
      values:
        type: array
        items:
          $ref: '#/definitions/configurable-product-data-option-value-interface'
      product_id:
        type: integer
  configurable-product-data-option-value-interface:
    type: object
    description: Interface OptionValueInterface
    properties:
      value_index:
        type: integer
    required:
      - value_index
  catalog-data-product-link-interface:
    type: object
    description: ''
    properties:
      sku:
        type: string
        description: SKU
      link_type:
        type: string
        description: Link type
      linked_product_sku:
        type: string
        description: Linked product sku
      linked_product_type:
        type: string
        description: 'Linked product type (simple, virtual, etc)'
      position:
        type: integer
        description: Linked item position
    required:
      - sku
      - link_type
      - linked_product_sku
      - linked_product_type
      - position
  catalog-data-product-custom-option-interface:
    type: object
    description: ''
    properties:
      product_sku:
        type: string
        description: Product SKU
      option_id:
        type: integer
        description: Option id
      title:
        type: string
        description: Option title
      type:
        type: string
        description: Option type
      sort_order:
        type: integer
        description: Sort order
      is_require:
        type: boolean
        description: Is require
      price:
        type: number
        description: Price
      price_type:
        type: string
        description: Price type
      sku:
        type: string
        description: Sku
      file_extension:
        type: string
      max_characters:
        type: integer
      image_size_x:
        type: integer
      image_size_y:
        type: integer
      values:
        type: array
        items:
          $ref: '#/definitions/catalog-data-product-custom-option-values-interface'
    required:
      - product_sku
      - title
      - type
      - sort_order
      - is_require
  catalog-data-product-custom-option-values-interface:
    type: object
    description: ''
    properties:
      title:
        type: string
        description: Option title
      sort_order:
        type: integer
        description: Sort order
      price:
        type: number
        description: Price
      price_type:
        type: string
        description: Price type
      sku:
        type: string
        description: Sku
      option_type_id:
        type: integer
        description: Option type id
    required:
      - title
      - sort_order
      - price
      - price_type
  catalog-data-product-attribute-media-gallery-entry-interface:
    type: object
    description: ''
    properties:
      id:
        type: integer
        description: Gallery entry ID
      media_type:
        type: string
        description: Media type
      label:
        type: string
        description: Gallery entry alternative text
      position:
        type: integer
        description: Gallery entry position (sort order)
      disabled:
        type: boolean
        description: If gallery entry is hidden from product page
      types:
        type: array
        description: 'Gallery entry image types (thumbnail, image, small_image etc)'
        items:
          type: string
      file:
        type: string
        description: File path
      content:
        $ref: '#/definitions/framework-data-image-content-interface'
    required:
      - media_type
      - label
      - position
      - disabled
      - types
  framework-data-image-content-interface:
    type: object
    description: Image Content data interface
    properties:
      base64_encoded_data:
        type: string
        description: Media data (base64 encoded content)
      type:
        type: string
        description: MIME type
      name:
        type: string
        description: Image name
    required:
      - base64_encoded_data
      - type
      - name
  catalog-data-product-tier-price-interface:
    type: object
    description: ''
    properties:
      customer_group_id:
        type: integer
        description: Customer group id
      qty:
        type: number
        description: Tier qty
      value:
        type: number
        description: Price value
    required:
      - customer_group_id
      - qty
      - value
  catalog-data-product-search-results-interface:
    type: object
    description: ''
    properties:
      items:
        type: array
        description: Attributes list.
        items:
          $ref: '#/definitions/product'
      search_criteria:
        $ref: '#/definitions/framework-search-criteria-interface'
      total_count:
        type: integer
        description: Total count.
    required:
      - items
      - search_criteria
      - total_count
  catalog-data-product-attribute-interface:
    type: object
    description: ''
    properties:
      is_wysiwyg_enabled:
        type: boolean
        description: WYSIWYG flag
      is_html_allowed_on_front:
        type: boolean
        description: The HTML tags are allowed on the frontend
      used_for_sort_by:
        type: boolean
        description: It is used for sorting in product listing
      is_filterable:
        type: boolean
        description: It used in layered navigation
      is_filterable_in_search:
        type: boolean
        description: It is used in search results layered navigation
      is_used_in_grid:
        type: boolean
        description: It is used in catalog product grid
      is_visible_in_grid:
        type: boolean
        description: It is visible in catalog product grid
      is_filterable_in_grid:
        type: boolean
        description: It is filterable in catalog product grid
      position:
        type: integer
        description: Position
      apply_to:
        type: array
        description: Apply to value for the element
        items:
          type: string
      is_searchable:
        type: string
        description: The attribute can be used in Quick Search
      is_visible_in_advanced_search:
        type: string
        description: The attribute can be used in Advanced Search
      is_comparable:
        type: string
        description: The attribute can be compared on the frontend
      is_used_for_promo_rules:
        type: string
        description: The attribute can be used for promo rules
      is_visible_on_front:
        type: string
        description: The attribute is visible on the frontend
      used_in_product_listing:
        type: string
        description: The attribute can be used in product listing
      is_visible:
        type: boolean
        description: Attribute is visible on frontend.
      scope:
        type: string
        description: Attribute scope
      attribute_id:
        type: integer
        description: Id of the attribute.
      attribute_code:
        type: string
        description: Code of the attribute.
      frontend_input:
        type: string
        description: HTML for input element.
      entity_type_id:
        type: string
        description: Entity type id
      is_required:
        type: boolean
        description: Attribute is required.
      options:
        type: array
        description: Options of the attribute (key => value pairs for select)
        items:
          $ref: '#/definitions/eav-data-attribute-option-interface'
      is_user_defined:
        type: boolean
        description: Current attribute has been defined by a user.
      default_frontend_label:
        type: string
        description: Frontend label for default store
      frontend_labels:
        type: array
        description: Frontend label for each store
        items:
          $ref: '#/definitions/eav-data-attribute-frontend-label-interface'
      note:
        type: string
        description: The note attribute for the element.
      backend_type:
        type: string
        description: Backend type.
      backend_model:
        type: string
        description: Backend model
      source_model:
        type: string
        description: Source model
      default_value:
        type: string
        description: Default value for the element.
      is_unique:
        type: string
        description: This is a unique attribute
      frontend_class:
        type: string
        description: Frontend class of attribute
      validation_rules:
        type: array
        description: Validation rules.
        items:
          $ref: '#/definitions/eav-data-attribute-validation-rule-interface'
      custom_attributes:
        type: array
        description: Custom attributes values.
        items:
          $ref: '#/definitions/framework-attribute-interface'
    required:
      - attribute_code
      - frontend_input
      - is_required
      - frontend_labels
  eav-data-attribute-option-interface:
    type: object
    description: 'Created from:'
    properties:
      label:
        type: string
        description: Option label
      value:
        type: string
        description: Option value
      sort_order:
        type: integer
        description: Option order
      is_default:
        type: boolean
        description: Default
      store_labels:
        type: array
        description: Option label for store scopes
        items:
          $ref: '#/definitions/eav-data-attribute-option-label-interface'
    required:
      - label
      - value
  eav-data-attribute-option-label-interface:
    type: object
    description: Interface AttributeOptionLabelInterface
    properties:
      store_id:
        type: integer
        description: Store id
      label:
        type: string
        description: Option label
  eav-data-attribute-frontend-label-interface:
    type: object
    description: Interface AttributeFrontendLabelInterface
    properties:
      store_id:
        type: integer
        description: Store id
      label:
        type: string
        description: Option label
  eav-data-attribute-validation-rule-interface:
    type: object
    description: Interface AttributeValidationRuleInterface
    properties:
      key:
        type: string
        description: Object key
      value:
        type: string
        description: Object value
    required:
      - key
      - value
  catalog-data-product-attribute-search-results-interface:
    type: object
    description: ''
    properties:
      items:
        type: array
        description: Attributes list.
        items:
          $ref: '#/definitions/catalog-data-product-attribute-interface'
      search_criteria:
        $ref: '#/definitions/framework-search-criteria-interface'
      total_count:
        type: integer
        description: Total count.
    required:
      - items
      - search_criteria
      - total_count
  catalog-data-category-attribute-interface:
    type: object
    description: ''
    properties:
      is_wysiwyg_enabled:
        type: boolean
        description: WYSIWYG flag
      is_html_allowed_on_front:
        type: boolean
        description: The HTML tags are allowed on the frontend
      used_for_sort_by:
        type: boolean
        description: It is used for sorting in product listing
      is_filterable:
        type: boolean
        description: It used in layered navigation
      is_filterable_in_search:
        type: boolean
        description: It is used in search results layered navigation
      is_used_in_grid:
        type: boolean
        description: It is used in catalog product grid
      is_visible_in_grid:
        type: boolean
        description: It is visible in catalog product grid
      is_filterable_in_grid:
        type: boolean
        description: It is filterable in catalog product grid
      position:
        type: integer
        description: Position
      apply_to:
        type: array
        description: Apply to value for the element
        items:
          type: string
      is_searchable:
        type: string
        description: The attribute can be used in Quick Search
      is_visible_in_advanced_search:
        type: string
        description: The attribute can be used in Advanced Search
      is_comparable:
        type: string
        description: The attribute can be compared on the frontend
      is_used_for_promo_rules:
        type: string
        description: The attribute can be used for promo rules
      is_visible_on_front:
        type: string
        description: The attribute is visible on the frontend
      used_in_product_listing:
        type: string
        description: The attribute can be used in product listing
      is_visible:
        type: boolean
        description: Attribute is visible on frontend.
      scope:
        type: string
        description: Attribute scope
      attribute_id:
        type: integer
        description: Id of the attribute.
      attribute_code:
        type: string
        description: Code of the attribute.
      frontend_input:
        type: string
        description: HTML for input element.
      entity_type_id:
        type: string
        description: Entity type id
      is_required:
        type: boolean
        description: Attribute is required.
      options:
        type: array
        description: Options of the attribute (key => value pairs for select)
        items:
          $ref: '#/definitions/eav-data-attribute-option-interface'
      is_user_defined:
        type: boolean
        description: Current attribute has been defined by a user.
      default_frontend_label:
        type: string
        description: Frontend label for default store
      frontend_labels:
        type: array
        description: Frontend label for each store
        items:
          $ref: '#/definitions/eav-data-attribute-frontend-label-interface'
      note:
        type: string
        description: The note attribute for the element.
      backend_type:
        type: string
        description: Backend type.
      backend_model:
        type: string
        description: Backend model
      source_model:
        type: string
        description: Source model
      default_value:
        type: string
        description: Default value for the element.
      is_unique:
        type: string
        description: This is a unique attribute
      frontend_class:
        type: string
        description: Frontend class of attribute
      validation_rules:
        type: array
        description: Validation rules.
        items:
          $ref: '#/definitions/eav-data-attribute-validation-rule-interface'
      custom_attributes:
        type: array
        description: Custom attributes values.
        items:
          $ref: '#/definitions/framework-attribute-interface'
    required:
      - attribute_code
      - frontend_input
      - is_required
      - frontend_labels
  catalog-data-category-tree-interface:
    type: object
    description: ''
    properties:
      id:
        type: integer
      parent_id:
        type: integer
        description: Parent category ID
      name:
        type: string
        description: Category name
      is_active:
        type: boolean
        description: Whether category is active
      position:
        type: integer
        description: Category position
      level:
        type: integer
        description: Category level
      product_count:
        type: integer
        description: Product count
      children_data:
        type: array
        items:
          $ref: '#/definitions/catalog-data-category-tree-interface'
    required:
      - parent_id
      - name
      - is_active
      - position
      - level
      - product_count
      - children_data
  catalog-product-website-link-interface:
    type: object
    description: ''
    properties:
      sku:
        type: string
      website_id:
        type: integer
        description: Website ids
    required:
      - sku
      - website_id
  catalog-inventory-data-stock-status-collection-interface:
    type: object
    description: Stock Status collection interface
    properties:
      items:
        type: array
        description: Items
        items:
          $ref: '#/definitions/catalog-inventory-data-stock-status-interface'
      search_criteria:
        $ref: '#/definitions/catalog-inventory-stock-status-criteria-interface'
      total_count:
        type: integer
        description: Total count.
    required:
      - items
      - search_criteria
      - total_count
  catalog-inventory-data-stock-status-interface:
    type: object
    description: Interface StockStatusInterface
    properties:
      product_id:
        type: integer
      stock_id:
        type: integer
      qty:
        type: integer
      stock_status:
        type: integer
      stock_item:
        $ref: '#/definitions/catalog-inventory-data-stock-item-interface'
    required:
      - product_id
      - stock_id
      - qty
      - stock_status
      - stock_item
  catalog-inventory-stock-status-criteria-interface:
    type: object
    description: Interface StockStatusCriteriaInterface
    properties:
      mapper_interface_name:
        type: string
        description: Associated Mapper Interface name
      criteria_list:
        type: array
        description: Criteria objects added to current Composite Criteria
        items:
          $ref: '#/definitions/framework-criteria-interface'
      filters:
        type: array
        description: List of filters
        items:
          type: string
      orders:
        type: array
        description: Ordering criteria
        items:
          type: string
      limit:
        type: array
        description: Limit
        items:
          type: string
    required:
      - mapper_interface_name
      - criteria_list
      - filters
      - orders
      - limit
  framework-criteria-interface:
    type: object
    description: Interface CriteriaInterface
    properties:
      mapper_interface_name:
        type: string
        description: Associated Mapper Interface name
      criteria_list:
        type: array
        description: Criteria objects added to current Composite Criteria
        items:
          $ref: '#/definitions/framework-criteria-interface'
      filters:
        type: array
        description: List of filters
        items:
          type: string
      orders:
        type: array
        description: Ordering criteria
        items:
          type: string
      limit:
        type: array
        description: Limit
        items:
          type: string
    required:
      - mapper_interface_name
      - criteria_list
      - filters
      - orders
      - limit
  framework-search-search-result-interface:
    type: object
    description: ''
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/framework-search-document-interface'
      aggregations:
        $ref: '#/definitions/framework-search-aggregation-interface'
      search_criteria:
        $ref: '#/definitions/framework-search-search-criteria-interface'
      total_count:
        type: integer
        description: Total count.
    required:
      - items
      - aggregations
      - search_criteria
      - total_count
  framework-search-document-interface:
    type: object
    description: ''
    properties:
      id:
        type: integer
      custom_attributes:
        type: array
        description: Custom attributes values.
        items:
          $ref: '#/definitions/framework-attribute-interface'
    required:
      - id
  framework-search-aggregation-interface:
    type: object
    description: Faceted data
    properties:
      buckets:
        type: array
        description: All Document fields
        items:
          $ref: '#/definitions/framework-search-bucket-interface'
      bucket_names:
        type: array
        description: Document field names
        items:
          type: string
    required:
      - buckets
      - bucket_names
  framework-search-bucket-interface:
    type: object
    description: Facet Bucket
    properties:
      name:
        type: string
        description: Field name
      values:
        type: array
        description: Field values
        items:
          $ref: '#/definitions/framework-search-aggregation-value-interface'
    required:
      - name
      - values
  framework-search-aggregation-value-interface:
    type: object
    description: ''
    properties:
      value:
        type: string
        description: Aggregation
      metrics:
        type: array
        description: Metrics
        items:
          type: string
    required:
      - value
      - metrics
  framework-search-search-criteria-interface:
    type: object
    description: ''
    properties:
      request_name:
        type: string
      filter_groups:
        type: array
        description: A list of filter groups.
        items:
          $ref: '#/definitions/framework-search-filter-group'
      sort_orders:
        type: array
        description: Sort order.
        items:
          $ref: '#/definitions/framework-sort-order'
      page_size:
        type: integer
        description: Page size.
      current_page:
        type: integer
        description: Current page.
    required:
      - request_name
      - filter_groups
